*{
    padding: 0%;

}

body{
    background-image: linear-gradient(45deg,#28E4FC,#1EAABD);
}
div{
    position: static;
    top: 50px;
    left: 750px;
    background-color: rgb(178, 214, 246);
    border-radius: 67px;
    height:546px;
    width: 320px;
    
 

}
h1{
    text-align: center;
    color: #087785;
}
h2{
    text-align: center;
    color: #087785;
}
input{
    position: relative;
    left: 30px;
    text-overflow: clip;
    
    border: none;
    outline: none;
    border-radius: 70px;
    height: 65px;
    width: 250px;
    text-align-last: center;
    
    
}
button{
    position:  relative;
    left: 40px;
    background-color: #28E4FC;
    border: none;
    outline: none;
    border-radius: 70px;
    height: 50px;
    width: 250px;
    
    
    
}
button:hover{
    background-color: aliceblue;
   
}
